*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    background-color:  rgb(251, 251, 251);
    color: #333333;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 1.5rem;
}

header{
    background-color: rgb(227, 227, 227);
    padding: 1rem 0;
    top: 0;
    z-index: 100;
    overflow-x: auto;
    scrollbar-width: thin;
}

.logo{
   height: 4rem;
   mix-blend-mode: multiply;
   rotate: -25deg;
}

.header .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}

.title{
    font-size: 2rem;
    font-weight: 700;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

ul a{
    text-decoration: none;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    color: black;
    font-size: medium;
}

a::before{
    content: "";
}

a:hover{
    color: rgb(107, 14, 195);
}

.mural{
    display: flex;
    flex-wrap: wrap;
}

.aventuras{
    background-color: rgb(227, 227, 227);
    border-radius: 1rem;
    width: 18rem;
    height: 23rem;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: thin;
}

.aventuras p{
    margin: 1rem 1rem;
}

.aventuras img{
    border-radius: 1rem;
    border: 2px solid rgb(179, 179, 179);
    width: 100%;
    height: auto;
}

ol{
    margin-left: 2rem;
}

form{
    background-color: rgb(227, 227, 227);
    width:50%;
    height: auto;
    border-radius: 3rem;
    padding: 1rem 1rem;
    font-size: large;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
}

input[type="text"],input[type="email"]{
    width: 85%;
    font-size: medium;
    margin-top: 0.2rem;
}

#msg{
    font-size: medium;
    padding: 2rem, 2rem;
    width: 100%;
    height: 7rem;
    resize: none;
}

form button{
    font-size: medium;
    border-radius: 0.5rem;
    width: 4rem;
    height: 1.7rem;
    margin-top: 0.4rem;
}

footer{
    display: flex;
    justify-content: center;
    align-content: end;
    margin-top: 3rem;
}

footer .container{
    margin-bottom: 0;
}

header::-webkit-scrollbar, .aventuras::-webkit-scrollbar{
    width: thin;
}
